<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link href="/static/userstyle.css" rel="stylesheet" type="text/css" />
	<title>Signin System</title>
</head>
<script>setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString();", 1000);</script>

<body id="top">
<div id="network">
	<div class="center-wrapper">
		<div class="left"><span id="time"></span> <span class="text-separator">|</span> </div>
		<div class="right">
			<ul class="tabbed" id="network-tabs">
				<li class="current-tab"></li>
				<li><a href="https://jwc.seu.edu.cn">教务处</a></li>
				<li><a href="http://202.119.23.199">srtp</a></li>
			</ul>
			<div class="clearer">&nbsp;</div>
		</div>
		<div class="clearer">&nbsp;</div>
	</div>
</div>
<div id="site">
	<div class="center-wrapper">
		<div id="header">
			<div class="clearer">&nbsp;</div>			
			<table style="border:none; border-collapse:collapse">
			<tr>
				<td style="border: none;">
				<h1><a href="#" style="text-decoration:none;font-family:SimHei">用户信息</a></h1>
				</td>
			</tr>
			</table>					
		    <div id="navigation">			
				<div id="sub-nav">
					<ul class="tabbed">
						<li class="current-tab"><a href="#">                </a></li>
						<li><a id="logbtn" href="#log" >登录记录</a></li>
						<li><a id="cgfxbtn" href="#changepass">修改密码</a></li>
					</ul>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>			
			<div id="log">
			<table align="center" style="border:1px solid #000000;background-color:rgb(245, 251, 255);width: 500px">
				<tr>
					<td>时间</td>
					<td>IP</td>
					<td>方式</td>
				</tr>
				{% for item in logs %}
					<tr>
					<td>{{item[2]}}</td>
					<td>{{item[3]}}</td>
					<td>{{item[5]}}</td>
					</tr>
				{% endfor %}
			</table>
			</div>
			<hr />
			<div id="changepass" align="center">
				<p></p>
				<p>原密码:
				<input type="text" name="fpwd" id="fpwd" style="border:1px solid #000">
				</p>
				<p></p>
				<p>新密码:
				<input type='password' name="pwd" id="pwd" style="border:1px solid #000">
				</p>
				<p><button id="login" onclick="send(this)">修改密码</button>
				</p>				  
			</div>
		</div>		
	</div>
</div>
<script>
	function createRequest()
	{
		try
		{
			request = new XMLHttpRequest(); //For火狐，谷歌等浏览器
		}
		catch (tryMS)
		{
			try
			{
				request = new ActiveXObject("Msxm12.XMLHTTP"); //For使用微软Msxm12.XMLHTTP库的浏览器
			}
			catch (otherMS)
			{
				try
				{
					request = new ActiveXObject("Microsoft.XMLHTTP"); //For使用微软Microsoft.XMLHTTP库的浏览器
				}
				catch (failed)
				{
					request = null;
				}
			}
		}
		return request;
	}

	function log()
	{
		document.getElementById("changepass").setAttribute("display","none");
	}

	function cgps()
	{
		document.getElementById("log").setAttribute("display","none");
	}
	
	function responses()
	{
		if (request.readyState == 4)//服务器处理结束
		{
			if (request.status == 200)//一切正常
			{
				switch(request.responseText)
				{
					case "OK":
					  alert("成功");
					  break;
					case "login":
					  alert("Log in first");
					  break;
					case "wrong":
					  alert("wrong password");
					  break;
					case "exist":
					  alert("ID already exists");
					  break;
					case "logok":
					  window.location.href="";
					  break;
					case "regok":
					  alert("Success");
					  //window.location.href=""
					  break;
					default:
					  alert("error");
					  break;    
				}
			}
			else
			{
				alert(request.status);
			}
		}
	}

	
	function send(element)
	{
		request=createRequest();
		if (request == null)
		{
			alert("Unable to create request");
		}
		else
		{
			var fpwd=document.getElementById("fpwd").value;
			var pwd=document.getElementById("pwd").value;
			var url = '';
			request.open("POST", url, true);
			request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.onreadystatechange = responses;
			//var formData = new FormData();
			//formData.append('uid', uid);
			//formData.append('pwd', pwd);
			request.send('fpwd='+fpwd+'&pwd='+pwd);
		}
	}
</script>
</body>
</html>